<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
</head>
<body style="background-image: url(/images/watercolor.png);">
<div class="ui negative message" style="width: 60%;height: 20%;margin: auto;margin-top: 20%;">

    <div class="header" style="margin-top: 10%;margin-left: 30%;font-size: 35px">404 not found</div>
    <p style="margin-left: 26%;font-size: 25px">非常抱歉此页面无法找到</p></div>

</body>
</html>

