<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body >

    
    <div class="formbody" style="position: relative;top: 150px;left: 150px">

    <form method="post" th:action="@{/DeptController/deptUpdate}">
    <ul class="forminfo">
    <li><label>部门编号</label><input th:value="${param.deptid}" name="deptid" type="text" class="dfinput" readonly="readonly"/> </li>
    <li><label>部门名称</label><input th:value="${param.deptname}" name="deptname" type="text" class="dfinput"  /></li>
    <li><label>办公地点</label><input th:value="${param.location}" name="location" type="text" class="dfinput" /></li>
    <li><label>&nbsp;</label><input name="" type="submit" class="btn" value="确认保存"/></li>
    </ul>
    </form>
    </div>


</body>

</html>
