<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="/css/style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <script src="/js/jquery.js"></script>
</head>

<body>
<footer class="ui inverted vertical segment m-padded-tb-massive" >
		<div class="ui center aligned container">
			<div class="ui inverted divided grid">
				<div class="three wide column">
					<img src="/images/favicon.jpg" class="ui round img" style="width: 100px;"/>
				</div>
				<div class="three wide column">
					<h4 class="ui inverted header">最新</h4>
					<div class="ui inverted link list" style="position: relative;top: -50px !important;" th:each="blog1:${blogs1}">
						<a th:href="@{/BlogController/showOneBlog(tid=${blog1.tid})}" target="rightFrame" class="item" th:text="${blog1.title}">用户故事(User Story)</a>
					</div>
				</div>
				<div class="three wide column">
					<h4 class="ui inverted header">最新</h4>
					<div class="ui inverted link list" style="position: relative;top: -50px !important;" th:each="blog2:${blogs2}">
						<a th:href="@{/BlogController/showOneBlog(tid=${blog2.tid})}" target="rightFrame" class="item" th:text="${blog2.title}">用户故事(User Story)</a>

					</div>
				</div>
				<div class="seven wide column">
					<h4 class="ui inverted header">个人</h4>
					<div class="ui inverted link list" style="position: relative;top: -50px !important;">
<!--						<i class="item">用户故事(User Story)</i>-->
						<p class="item">Copyright 2020-2021 PengZhong Designed by PengZhong</p>
					</div>
				</div>
			</div>
<!--			<div class="ui inverted section divider"></div>-->

		</div>
</footer>
</body>
</html>
