<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录页面</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
    <script type="text/javascript">
        function changeRandom() {
            //alert("ok");
            $("#img").attr("src","/RandomServlet/random.jpg?time="+new Date().toLocaleString());

        }

        if (top.location!=self.location){
            top.location=self.location;
        }

    </script>
</head>
<body>
    <div class="ui stackable container">



        <div class="field" style="margin:90px auto;position: relative;left: 7%;">
            <div class="ui billboard test ad" data-text="欢迎光临本网站" >
                <img src="/images/风景.jpeg"/>
            </div>
        </div>

        <div class="ui form" style="width: 50%;margin: 50px auto;" >
            <form  th:action="@{/UserController/login}" method="post">
                <div class="field">
                    <div class="ui right labeled left icon input">
                        <i class="teal address icon"></i>
                        <input type="text" name="username" placeholder="请输入用户名">
                        <a class="ui teal tag label">用户名 </a>
                    </div>
                </div>
                <div class="field">
                    <div class="ui left action input">
                        <label class="ui yellow labeled icon button"><i class="user secret icon"></i>密码</label>
                        <input type="text" name="password" placeholder="请输入密码">
                    </div>
                </div>
                <div class="field">
                    <div class="ui action input">
                        <label class="ui black right  labeled  icon button"><i class="space shuttle icon"></i>验证码</label>
                        <input type="text" name="yzm" placeholder="验证码">
                        <span style="float: right;position: relative;top: -36px"><img  id="img" th:src="@{/RandomServlet/random.jpg}" style="height: 35px;width: 90px;position: relative;top: 37px" onclick="changeRandom()"></span>
                    </div>
                </div>

                <div class="two fields">
                    <div class="ui container center aligned">
                        <input type="submit" value="登录" class="ui big  black button" />

                        <a class="ui red button" href="/register.html"><i class="heart icon"></i>注册账号</a>
                    </div>
                </div>
                <span   style="position: relative;left: 45%;color: red" th:text="${error}"></span>

            </form>
        </div>
    </div>
</body>
</html>
