<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>后台登录-X-admin1.1</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="/js/jquery.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#button").click(function () {
                var username = $("#username").val();
                var oldpwd = $("#oldpwd").val();
                var newpwd = $("#newpwd").val();
                var password = $("#password").val();
                if (newpwd==null||newpwd==""||password==null||password==""){
                    $("#span").html("新密码不能为空");
                    $("#span").css("color","red");
                }else if (oldpwd==password){
                    $("#span").html("新密码与旧密码一样");
                    $("#span").css("color","red");
                }else if (newpwd!=password){
                    $("#span").html("新密码与确认密码不一致");
                    $("#span").css("color","red");
                }else {
                    $.post("/UserController/pwdedit",{username:username,password:password},function (data) {
                        if (data>0){
                            $("#span").html("密码修改成功");
                            $("#span").css("color","green");
                            $("#button").prop("disabled","disabled");
                        }else {
                            $("#span").html("密码修改失败");
                            $("#span").css("color","red");
                        }
                    })
                }
            })
        })
    </script>
</head>

<body class="ui segment" >

<form class="ui  form" style="margin: 50px auto;margin-left: 250px">
    <span id="span" style="position: relative;top:-20px;left: 70px"></span>
    <div class="field" style="width: 300px">
        <label>用户名</label>
        <input type="text" name="username" id="username" th:value="${session.user.username}" readonly>
    </div>
    <div class="field" style="width: 300px">
        <label>旧密码</label>
        <input type="text" name="last-name" id="oldpwd1" value="******" readonly>
        <input type="hidden" name="last-name" id="oldpwd" th:value="${session.user.password}" readonly>
    </div>
    <div class="field" style="width: 300px" >
        <label>新密码</label>
        <input type="password" name="newpwd" id="newpwd">
    </div>
    <div class="field" style="width: 300px">
        <label>确认密码</label>
        <input name="password" type="password" id="password">
    </div>

    <button id="button" class="ui button" type="button" style="margin-left: 90px;margin-top: 30px">确认修改</button>
</form>

</body>

</html>